@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'merakiui/dist/merakiui.css';


.login .active{
    background-color: rgb(0, 0, 0);
    color: orange;
    font-size: large;
}



.NavActive .active{
    color: rgb(255, 238, 0);
    font-weight: bold;
    border: none;
}
